/AuthDemo/AuthWithJWT/bin/Debug/net6.0/AuthWithJWT.deps.json
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/AuthWithJWT.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/AuthWithJWT.exe
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/AuthWithJWT.pdb
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/AuthWithJWT.runtimeconfig.json
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Microsoft.OpenApi.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Newtonsoft.Json.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/appsettings.Development.json
/AuthDemo/AuthWithJWT/bin/Debug/net6.0/appsettings.json
/AuthDemo/AuthWithJWT/obj/AuthWithJWT.csproj.nuget.dgspec.json
/AuthDemo/AuthWithJWT/obj/AuthWithJWT.csproj.nuget.g.props
/AuthDemo/AuthWithJWT/obj/AuthWithJWT.csproj.nuget.g.targets
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.AssemblyInfo.cs
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.AssemblyInfoInputs.cache
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.GeneratedMSBuildEditorConfig.editorconfig
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.GlobalUsings.g.cs
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.MvcApplicationPartsAssemblyInfo.cache
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.MvcApplicationPartsAssemblyInfo.cs
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.assets.cache
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.csproj.AssemblyReference.cache
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.csproj.BuildWithSkipAnalyzers
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.csproj.CopyComplete
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.csproj.CoreCompileInputs.cache
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.csproj.FileListAbsolute.txt
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.dll
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.genruntimeconfig.cache
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/AuthWithJWT.pdb
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/apphost.exe
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/ref/AuthWithJWT.dll
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/refint/AuthWithJWT.dll
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/staticwebassets.build.json
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/staticwebassets/msbuild.build.AuthWithJWT.props
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.AuthWithJWT.props
/AuthDemo/AuthWithJWT/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.AuthWithJWT.props
/AuthDemo/AuthWithJWT/obj/project.assets.json
/AuthDemo/AuthWithJWT/obj/project.nuget.cache
/AuthDemo/.vs/AuthDemo/FileContentIndex/1b289530-7cc3-4aaf-af36-7f7356973c2f.vsidx
/AuthDemo/.vs/AuthDemo/FileContentIndex/2b76ae1d-1910-4296-8814-8f0ec307b4a2.vsidx
/AuthDemo/.vs/AuthDemo/FileContentIndex/2ddc9c2e-b66e-4649-9b38-0bb8764e34ed.vsidx
/AuthDemo/.vs/AuthDemo/FileContentIndex/c3425427-54cd-45b7-b708-58958e0cc481.vsidx
/AuthDemo/.vs/AuthDemo/v17/.futdcache.v2
/AuthDemo/.vs/ProjectEvaluation/authdemo.metadata.v7.bin
/AuthDemo/.vs/ProjectEvaluation/authdemo.projects.v7.bin
**/bin/**
**/obj/**
**/.vs/**
